header {
  display: block;
}
@media screen and (max-width: 960px) {
  .navbar {
    border-bottom: 1px solid #f7f7f7;
    display: block !important;
    padding: 1em;
  }
}
.navbar {
  background: #fff;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  height: 86px;
  justify-content: space-evenly;
  padding: 0 1em;
  position: sticky !important;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 15px 20px;
}
.navbarContainer,
.navbarLogo {
  display: flex;
  align-items: center;
}
.navbarContainer {
  height: 55px;
  justify-content: space-between;
  max-width: 1500px;
}
.navbarLogo {
  cursor: pointer;
  justify-self: start;
  margin-left: 1px;
  text-decoration: none;
}
.logo {
  width: 36.79px;
  height: 38px;
  margin: 0 8px;
}
.navMenu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  justify-content: end;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 85vw;
  grid-gap: 10px;
}
ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.navItem,
.navLink {
  align-items: center;
  display: flex;
}
.navItem {
  height: 50px;
  margin-bottom: 5px;
  margin-top: 0;
}
li {
  text-align: -webkit-match-parent;
}
.navLink {
  color: #7064e5;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  height: 100%;
  padding: 1rem 1.1rem;
  text-decoration: none;
  cursor: pointer;
}
